<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="https://www.guiacodigo.com">
      GuiaCódigo
    </a>
  </div>
</nav>

<ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block img-fluid" src="https://1.bp.blogspot.com/-Rit9yTysBVE/WID66G5QXpI/AAAAAAAAASU/TaEbBN98RuMoiarMkhRxR3ZObd1wkjg0QCLcB/s1600/banner-programmer.jpeg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Modelo de Slides</h3>
      <p>Descrição modelo de slides...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block img-fluid" src="http://codeworkhouston.com/images/mac2.png"  alt="Random second slide">
    <div class="carousel-caption">
      <h3>Modelo de Slides</h3>
      <p>Descrição modelo de slides...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block img-fluid" src="https://cdn-images-1.medium.com/max/2000/1*qVE3wRhr3sSczr5EpY4rLw.jpeg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Modelo de Slides</h3>
      <p>Descrição modelo de slides...</p>
    </div>
  </ng-template>
</ngb-carousel>
